BOT_TOKEN=your_telegram_bot_token_here
DB_PATH=data/bot.db
API_BASE_URL=https://www.rubinst.ru/schedule.php
CACHE_TTL_SECONDS=300
CHANGE_CHECK_INTERVAL_SECONDS=900

WEBAPP_URL=https://rii-bot.yearnings.ru
WEB_HOST=127.0.0.1
WEB_PORT=8082
